{% extends "base.html" %}
{% block title %}Entry Page{% endblock %}
{% block content %}
<title>Application</title>

<form action="#", method="post">
    <div>
        <label for="target">Enter the Target Number</label>
        <p><input type="number" id="target" name="trgt" /></p>
    </div>

    <div class="usable_numbers">
        <label for="first">Enter the First Number</label>
        <p><input type="number" id="first" name="first" /></p>

        <label for="second">Enter the Second Number</label>
        <p><input type="number" id="second" name="second" /></p>

        <label for="third">Enter the Third Number</label>
        <p><input type="number" id="third" name="third" /></p>

        <label for="fourth">Enter the Fourth Number</label>
        <p><input type="number" id="fourth" name="fourth" /></p>

        <label for="fifth">Enter the Fifth Number</label>
        <p><input type="number" id="fifth" name="fifth" /></p>

        <label for="sixth">Enter the Sixth Number</label>
        <p><input type="number" id="sixth" name="sixth" /></p>
    </div>
    <p><input type="submit" id="submission" value="Find Solution" /></p>
</form>
{% endblock %}